.footer {
  background-color: #2b328d;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  height: 40px;
  align-items: center;
  font-size: 12px;
  a {
    color: #ffffff;
  }
}
