.header {
  display: flex;
  background-color: #3642CE;
  height: 70px;
  
  .title-container {
    padding: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .link {
    color: white;
    text-decoration: none;
  }
}
